@font-face {
	font-family: Manrope;
	src: url('./Manrope-Regular.ttf');
}

html, body {
	font-family: Manrope; 
    margin: 0px;
	width:100%;
	height:100%;
	border:none;
}

table {
	border-spacing:0;
	padding:0;
}

td {
	padding:0px;
	margin:0;
	white-space: nowrap;
}

p {
    word-break: normal;
    white-space: normal;
}

.smallgreytext{
	font-size : 10px;
	color:grey;
}

.smalltableheadertext{
	font-size : 12px;
}

.smalltabletext{
	font-size : 12px;
}

.alignright{
	text-align:right;
}

.fullwidthheight {
	width:100%;
	height:100%;
}

.blackout{
	position: absolute;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, 0.5);
	z-index: 10;
	display:none;
}

.centerdiv {    
	position: absolute;   
	top: 50%;   
 	left: 50%;  
  	transform: translate(-50%, -50%);
	
	width:500px;
	height:310px;
	
	z-index: 20;
	display:none;
}
		
.greyrounded {
	text-align:left;
	background-color: #eeeeff;
  	border-radius: 8px;
  	border-color: #2222ff;
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
}

.paddedborder{
	padding:8px;
}

.buyorder{background-color: #aaffaa;} 
.sellorder{background-color: #ffaaaa;} 
.otherorder{background-color: #bbbbff;} 

.chatroom{
	padding:4px;
	font-size:0.8em;
	border-radius: 8px;
	height:200px;
	overflow-y: auto;
	background:white;
	text-align:left;
}

/* Normal buttons */
.mybtn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  border-radius: 4px;
  color: white; /* White text */
  padding: 6px 8px; /* Some padding */
  font-size: 12px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  min-width:60px;
}

/* Darker background on mouse-over */
.mybtn:hover {
  background-color: RoyalBlue;
}

.mybtn:active {
  background-color: red;
}

.mybtn:disabled {
  background-color: grey;
}

/* Chart Time buttons */
.chartbtn {
  background-color: #DD4D00; /* Blue background */
  border: none; /* Remove borders */
  border-radius: 4px;
  color: white; /* White text */
  padding: 4px 4px; /* Some padding */
  font-size: 10px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  min-width:40px;
}

/* Darker background on mouse-over */
.chartbtn:hover {
  background-color: #AA2D00;
}

.chartbtn:active {
  background-color: red;
}

.chartbtn:disabled {
  background-color: grey;
}

/* Menu buttons */
.menubtn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  border-radius: 4px;
  color: white; /* White text */
  padding: 6px 8px; /* Some padding */
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  min-width:80px;
}

/* Darker background on mouse-over */
.menubtn:hover {
  background-color: RoyalBlue;
}

.menubtn:active {
  background-color: green;
}

.menubtn:disabled {
  background-color: RoyalBlue;
}